<div style="color: royalblue; font-family:'Imprint MT Shadow'; font-size:48px; position: relative; justify-content:space-evenly;text-align:center;">
    <h1>Cause it's 0 to 60 in 3.5</h1>
    <h2>Baby, you go the keys</h2>
    <h3>Now...</h3>
</div>
<p>
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:53.75% 0 0 0;position:relative;">
        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div class="wistia_embed wistia_async_1hidkkfqz0 videoFoam=true" style="height:100%;position:relative;width:100%">
                <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                </div>
            </div>
        </div>
    </div>
</p>
<br />