@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1 style="font-size: 7em; font-family: 'Imprint MT Shadow'; color: royalblue;"> Shut Up & Drive</h1></center>
    <center>
        <p class="lead">
            Stop your search for the best car insurance, cause you've found it right here!<br /><h3>SHUT UP & DRIVE <br />No Hassle <br />Full Coverage Car Insurance!</h3><br />
            <h3>Low Monthly Payments!!</h3><br /> <h3>Low Premiums!!</h3>
        <p><a role="button" href="@Url.Action("Create", "Insuree")" class="btn btn-primary btn-lg">Get Your Quote Now &raquo;</a></p>
    </center>
</div>